<div class="container-fluid">
  <div class="jumbotron text-center">
    <h1>
      <img class="logo" src="assets/ngx-rocket-logo.png" alt="angular logo" />
      <span translate>Hello world !</span>
    </h1>
    <form [formGroup]="mp3Form">
      <div class="form-group">
        <label for="mp3">MP3 file</label>
        <input type="file" class="form-control-file" id="mp3" (change)="onMp3Added($event.target.files)">
      </div>
      <div class="form-group">
        <label for="tags">Song info</label>
        <input type="text" class="form-control" formControlName="title" id="title" placeholder="Title">
        <input type="text" class="form-control" formControlName="unicodeTitle" id="title" placeholder="Unicode Title">
        <input type="text" class="form-control" formControlName="artist" id="title" placeholder="Artist">
        <input type="text" class="form-control" formControlName="unicodeArtist" id="title" placeholder="Unicode Artist">
        <input type="text" class="form-control" formControlName="creator" id="title" placeholder="Creator">
        <input type="text" class="form-control" formControlName="source" id="title" placeholder="Source">
      </div>
      <div class="form-group">
        <label for="mp3">Difficulty</label>
        <input type="file" class="form-control-file" id="mp3" (change)="onDifficultyAdded($event.target.files)">
      </div>
    </form>
    <app-loader [isLoading]="isLoading"></app-loader>
    <q [hidden]="isLoading">{{quote}}</q>
  </div>
</div>